<span style="color: #FFFFFF;">
<ul>
<li>No traffic logs. No connection logs. No DNS logs.</li>
<li>We NEVER log your internet activity or your real IP address.</li>
<li>We DO keep your email address and payment record.</li>
</ul>
<h3>The Basics</h3>
<div>
    <ul>
        <li>Do not spam.</li>
        <li>Do not hack.</li>
        <li>Do not harm others.</li>
        <li>Do not do P2P on servers outside our Privacy locations.</li>
    </ul>
</div>
</div>
<h3><strong>Privacy</strong></h3>
<p>We respect your right to privacy and we do not keep any logs about your internet activities including which sites you access, your IP number or what data you transfer. We also do not store any payment details such as Credit Card numbers.<br />
    We will fiercely protect the privacy and rights of our users and we will not disclose any information on our users to anyone, unless forced to by law enforcement personnel that have produced the proper legal compliance documents.</p>
<p>All logs are anonymized on all servers. Your real IP is never logged anywhere.</p>
<h3>Money Back Guarantee</h3>
<p>If you contact us within the first 14 days of your first purchase then you are entitled to a full 100% refund, regardless of the reason for your cancellation. However if your account is suspended or terminated due to a violation of our Terms of Service then we will not refund any remaining account balance.</p>
<h3>Personal Use Only</h3>
<p>Your account is for your personal use only and your login details must not be shared with anyone else. You may use the Service from as many computers and devices as you like, however you will not be able to connect from more than one computer or device at the same time. You are responsible for maintaining the confidentiality of your login details and for all activities involving your account.</p>
<h3>Service Quality</h3>
<ul>
    <li>Your Service speed may vary depending on your physical location, ISP, Internet connection speed, Internet nodes between your computer and our servers, and other factors beyond our control. Upload and download speeds will vary for each user due to factors beyond our control.</li>
    <li>Your Service is not limited by the amount of data that you can transfer each month, however we reserve the right to impose a bandwidth limit if the Service of other users is disrupted due to your excess usage.</li>
    <li>We may block certain kinds of usage to protect other users, to comply with legal restrictions or to minimize the threat or legal action against us or our users.</li>
    <li>You will not be allocated a fixed IP address and your IP address may change each time you connect to our Service.</li>
    <li>All Services are provided to you &#8220;as is&#8221; without any guarantees or obligations on our part.</li>
    <li>We will try our best to maintain Service quality and to limit interruptions to your Service, however we cannot guarantee uninterrupted Service. The Service may be unavailable due to variety of factors beyond our control including emergencies, third party failures, interference, and may be interrupted, blocked or limited by other network providers.</li>
    <li>We are not in any shape or form liable for any damages resulting from interruptions in Service or your inability to use the Service.</li>
</ul>
<h3>Notifying you about Service Interruptions</h3>
<p>We will notify users in advance of scheduled downtimes via the News section on our website (RSS feed available) and our Twitter page. We may also choose to notify you directly via email. By law we may be required to notify you of certain events such as Service interruptions. You hereby acknowledge and consent that such notices will be effective upon our posting them on our website or delivering them to you by e-mail. If you provide us with inaccurate information then we cannot be held liable for failing to notify you.</p>
<h3>Acceptable Use Policy</h3>
<p>If you engage in any of the activities prohibited by our Acceptable Use Policy then without notice we may suspend or terminate your account. We also reserve the right to terminate your account without any notice or refund if we receive any complaints about your activities from other users, site owners, Internet service providers, copyright holders or legal authorities. This is not a conclusive list of the actions prohibited and we reserve the right to modify our Acceptable Use Policy at any time.</p>
<ul>
    <li><strong>No Stealing!</strong> You agree not to pay for our Services using a STOLEN credit card or PayPal account. Do not attempt to obtain access to our Services with the intent of avoiding payment.</li>
    <li><strong>No Spamming!</strong> Sending Spam (Unsolicited Bulk Email &#8211; ham in a can is OK) and dealing with anyone on the Register of Known Spam Operations (ROKSO) database at www.spamhaus.org while using our Services is prohibited.</li>
    <li><strong>No Hacking!</strong> All of these activities are prohibited (unless you have permission from the server owner): port scanning, flooding, mail-bombing, denial of service attacks, or attempting to gain access to an account, computer or device that you are not authorized to access.</li>
    <li><strong>No Viruses or Keyloggers!</strong> Do not use our Services to transmit viruses, trojans, worms, spyware or keyloggers.</li>
    <li><strong>No Child Porn!</strong> Do not use our Services to engage in child pornography activities of any sort, including but not limited to the creation, distribution or promotion or child pornography.</li>
    <li><strong>Respect Others!</strong> Do not disrupt our Services or the Service to other blackVPN users. Do not threaten, abuse, harass, stalk or otherwise violate the human and legal rights of others. Do not transmit any defamatory, infringing, obscene, indecent, or unlawful content.</li>
</ul>
<h3>Copyright Violations</h3>
<p>Downloading or sharing of copyright material is forbidden on our USA, UK and Singapore VPN locations. If we receive a number of copyright violation notices from the appropriate copyright holder then we may temporarily monitor those VPNs to find the offending user and may terminate their account. We therefore ask our users not to distribute or transmit material which violates the copyright laws in either your country or the country in which our service is hosted.</p>
<h3>Governing Law</h3>
<p>You may be bound by the laws of the country from which you access our Services, as well as by the laws of the country of the server that you access. These Terms and Conditions shall be governed by and construed in accordance with the law of Hong Kong. Disputes arising in connection with these Terms and Conditions shall be subject to the exclusive jurisdiction of the courts of Hong Kong.</p>
</span>